@import "../../common";

#projekte {

  @media (max-width: 575.98px) {
    display: none;
  }
  background: $altLightBackground;
  padding-block: 80px;

  .project {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;

    img {
      height: 70vh;
      object-fit: cover;
      width: 100%;
    }

    > img:first-child {
      border-right: 7px $altBackground solid;
    }

    > img:nth-child(2) {
      border-left: 7px $altBackground solid;
    }

    .description {
      padding-left: 30px;
    }

    .author-container {
      width: 75px; /* specify the width of the container */
      height: 75px; /* specify the height of the container, should be the same as the width */
      border-radius: 50%; /* this makes the container circular */
      overflow: hidden; /* this clips the inner image to match the container shape */
      border: 3px solid $mainColor; /* this adds a thick blue border around the container */
      display: flex; /* ensures image is centered within the container */
      align-items: center; /* aligns image vertically */
      justify-content: center; /* aligns image horizontally */

      img {
        width: 100%; /* makes the image fully fill the container */
        height: 100%; /* makes the image fully fill the container */
        object-fit: cover; /* prevent distortion of image */
      }
    }

    .testimony {
      display: grid;
      grid-template-columns: 75px auto;
      grid-gap: 30px;
    }

  }
}