@import "../../common.scss";

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#Hero {
  background-image: url("./b1.webp");
  background-size: cover;
  background-position: 55% 75%;
  background-blend-mode: multiply;
  background-color: $altLightBackground;
  color: white;
  padding: 30px 0;

  #heroSlogan {
    @media (max-width: 575.98px) {
      font-size: 8vw;
    }
  }
}

@media (max-width: 575.98px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 20px 30px;
    align-items: center;

    a {
      text-decoration: none;
      color: $gradientStart;
      transition: color 0.3s;

      // Hover state
      &:hover {
        color: $gradientEnd;
      }
    }
  }
}

@media (min-width: 575.98px) {
  ul {
    display: none;
  }
}

@media (min-width: 768px) {
  #Hero {
    .container {
      display: grid;
      grid-template-rows: auto auto 60px;
      grid-gap: 5px;
      height: 90vh;
    }

    .arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow-down {
        cursor: pointer;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #ffffff80; /* This defines the color of the arrow */
        display: inline-block;
        animation: bounce 2s infinite; /* Apply the bounce animation */
        margin: 0 auto;
      }
    }
  }
}
