#privacypolicy {
  h2 {
    font-size: 130%;
  }

  padding-block: 80px;

  @media (min-width: 767.98px) {
    padding-left: 240px;
    padding-right: 240px;
  }

  h1 {
    padding-bottom: 1em;
  }
}
