@import "../../common.scss";

footer {
  color: $background;
  a,
  a:active,
  a:visited {
    color: $altLightBackground;
  }

  span.name {
    font-weight: 700;
  }

  span.education {
    font-weight: 100;
  }
  background: linear-gradient(120deg, $mainColor 50%, $altLightBackground 50%);

  @media (max-width: 575.98px) {
    background: $mainColor;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 575.98px) {
      grid-template-columns: none;
    }

    padding: 30px 0;
    > div:first-child {
      @media (max-width: 575.98px) {
        padding: 20px;
      }
      img {
        width: 50%;
        @media (max-width: 575.98px) {
          display: none;
        }
      }
    }
    > div:last-child {
      padding: 30px 0 30px 15vw;
      color: $mainColor;

      @media (max-width: 575.98px) {
        color: $background;
        padding: 20px;
      }

      a,
      a:active,
      a:visited {
        color: $mainColor;
        @media (max-width: 575.98px) {
          color: $altLightBackground;
        }
      }

      h5 {
        padding-top: 30px;
      }

      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media (max-width: 575.98px) {
          margin: 0 -20px -30px -20px;
        }

        img {
          display: block;
          margin: 0 auto;
          width: 100%;
        }
        img:nth-child(2) {
          margin-top: 10px;
        }
        img:nth-child(3) {
          margin-top: -35px;
        }
        img:last-child {
          width: 60%;
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    .partners > div {
      color: $mainColor;
      background: $altLightBackground;
      padding: 30px;
    }
  }
}
