// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

$primary: #00d97b;
$danger: #ff4136;
$mainColor: #00968f;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: $mainColor;

  img {
    margin-top: 12px;
  }
}

main {
  background-image: url("./gfx/b1.png");
  background-size: cover;
  background-position: 55% 75%;
  background-blend-mode: multiply;
  background-color: rgb(116, 116, 116);

  color: white;
  padding-top: 25%;
}

.layout {
  display: grid;
  grid-template-rows: 60px auto;
  height: 100vh;
}
