// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;600;700&display=swap");
@import "common";

$primary: $gradientEnd;
$secondary: $gradientStart;

@import "../node_modules/bootstrap/scss/bootstrap";


* {
  font-family: "Comfortaa", sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 55px auto;
  height: 100vh;
}